<p>
  <h1><%= @route.name %></h1>
</p>

<p>
  <strong><%= t('.station_title') %></strong>
</p>


  <% if @route.railway_stations.empty? %>
    <%= t('.no_stations') %>
  <% else %>
  
  <% @route.railway_stations.ordered.each do |station| %>
  <div class="station-container">
  <div class="row">
    <div class="col-md-4">
      
      <h3><%= station.title %></h3>
    </div>
  </div>
    
    <div class="row">
  
      <%= form_tag update_position_admin_railway_station_path(station), method: :patch do %>

        <div class="col-md-12">
          <label><%= t('.station_position') %></label>
            <%= number_field_tag :position, station.position_in(@route), type: 'number', class: 'form-control' %>
        </div>
    </div>
    <div class="row row-btn-bottom">
      <div class="col-md-10" ></div>
      <div class="col-md-2">
        <%= hidden_field_tag :route_id, @route.id %>
        <%= submit_tag t('.edit'), class: "btn btn-primary"%>
      </div>
    </div>
    
    <% end %>


    <%= form_tag update_time_admin_railway_station_path(station), method: :patch do %>
    <div class="row">

      <div class="col-md-12">
        <label><%= t('.arrival_time') %></label>
        <%= text_field_tag :arrival, station.time_arival_now(@route), type: 'time', class: 'form-control'%>
      </div>

    </div>

    <div class="row">
      
      <div class="col-md-12">
        <label><%= t('.departure_time') %></label>
        <%= text_field_tag :departure, station.time_departure_now(@route), type: 'time', class: 'form-control' %>
      </div>
    </div>

    <div class=" row row-btn-bottom">
      <div class="col-md-10" ></div>
      <div class="col-md-2" >
        <%= hidden_field_tag :route_id, @route.id %>
        <%= submit_tag t('.edit'), class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>

  <% end %>

<p>
  <strong><%= t('.train_list') %></strong>
  <% if @route.trains.empty? %>
    <%= t('.no_trains') %>
  <% else %>
    <% @route.trains.each do |train| %>
      <br />
      <%= train.number %>
    <% end %>
  <% end %>
</p>

<div class="link-down">
  <%= link_to t('common.edit'), edit_admin_route_path(@route) %> |
  <%= link_to t('common.back'), admin_routes_path %>
</div>