<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>На станции:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Не указано
  <% end %>
</p>
<p>
  <strong>Маршрут поезда:</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    Маршрут не назначен
  <% end %>
</p>

<p>
  <% if @train.wagons.empty? %>
    Нет вагонов
  <% else %>

    <p><strong>Кол-во купейных вагонов:</strong> <%= @train.count('купейный') %></p>
    <p><strong>Кол-во мест купейных  верхних:</strong> <%= @train.count('top','купейный') %> </p>
    <p><strong>Кол-во мест купейных  нижних:</strong> <%= @train.count('lower','купейный') %></p>

    <p><strong>Кол-во плацкартных вагонов:</strong> <%= @train.count('плацкартный') %></p>
    <p><strong>Кол-во мест плацкартных верхних:</strong> <%= @train.count('top','плацкартный') %></p>
    <p><strong>Кол-во мест плацкартных нижних:</strong> <%= @train.count('lower','плацкартный') %></p>  
  <% end %>
</p>

<%= link_to 'Изменить', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
