<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>
<p>
  <strong>На станции:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Не указано
  <% end %>
</p>
<p>
  <strong>Маршрут поезда:</strong>
  <% if @train.route.present? %>
    <%= @train.route.name %>
  <% else %>
    Маршрут не назначен
  <% end %>
</p>

<p>
  <% if @train.wagons.empty? %>
    Нет вагонов
  <% else %>
    <p><strong>Вагоны</strong></p>
    <ul>
      <% @train.order_wagons.each do |wagon| %>
        <li><%= link_to "Вагон №#{wagon.number}", wagon_path(wagon) %></li>
      <% end %>
    </ul>
    <p><strong>Информация о местах</strong></p>
    <ul>
      <li>
        Кол-во мест купейных верхних:
        <%= @train.sum_seats(CoupeWagon, 'top_seats')%>
      </li>
      <li>
        Кол-во мест купейных нижних:
        <%= @train.sum_seats(CoupeWagon, 'bottom_seats') %>
      </li>
      <li>
        Кол-во мест плацкартных верхних:
        <%= @train.sum_seats(EconomyWagon, 'top_seats') %>
      </li>
      <li>
        Кол-во мест плацкартных нижних:
        <%= @train.sum_seats(EconomyWagon, 'bottom_seats') %>
      </li>
      <li>
        Кол-во мест плацкартных боковых верхних:
        <%= @train.sum_seats(EconomyWagon, 'side_top_seats') %>
      </li>
      <li>
        Кол-во мест плацкартных боковых нижних:
        <%= @train.sum_seats(EconomyWagon, 'side_bottom_seats') %>
      </li>
      <li>
        Кол-во мест СВ нижних:
        <%= @train.sum_seats(SVWagon, 'bottom_seats') %>
      </li>
      <li>
        Кол-во мест СВ нжних боковых: 
        <%= @train.sum_seats(SVWagon, 'side_bottom_seats') %>
      </li>
      <li>
        Кол-во сидячих мест:
        <%= @train.sum_seats(SittingWagon, 'sitting_seats') %>
      </li>
    </ul>
  <% end %>
</p>

<%= link_to 'Изменить', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
