<h3>Результаты поиска</h3>

<% if @trains.empty? %>
  Нет поездов

  <br />
  <br />
  <%= link_to 'Назад', search_path %>

<% else %>
  
  <table class="table">
    <thead>
      <tr>
        <th>Номер поезда</th>
        <th>Время отправки со станции</th>
        <th>Время прибытия на станцию</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @trains.each do |train| %>
      <tr>
        <td><%= train.number %></td>
        <td><%= @first_station.time_arival_now(train.route) %></td>
        <td><%= @last_station.time_departure_now(train.route) %></td>
        <td>
          <%= form_tag new_ticket_path, method: :get do %>
            <%= hidden_field_tag :train_id, train.id %>
            <%= hidden_field_tag :first_station_id, @first_station.id %>
            <%= hidden_field_tag :last_station_id, @last_station.id %>
            <%= submit_tag "Купить", class: 'btn btn-success' %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Назад', search_path %>

<% end %>