<h3><%= t('.title') %></h3>

<div class="row">
  <%= form_tag search_path, method: "post" do %>
    <div class="col-md-4">
      <%= select :first_station, :railway_station_id, @stations.collect { |station| [station.title, station.id] }, {}, {class: 'form-control'} %>
    </div>
    
    <div class="col-md-4">
      <%= select :last_station, :railway_station_id, @stations.collect { |station| [station.title, station.id] }, {}, {class: 'form-control'} %>
    </div>
    
    <div class="col-md-4">
      <%= submit_tag t('.btn_search'), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<% if current_user %>
  <%= link_to t('tickets.common.link_to_tickets'), tickets_path %>
<% end %>