<p id="notice"><%= notice %></p>

<p>
  <strong>Тип:</strong>
  <%= @wagon.type %>
</p>

<p>
  <strong>Кол-во верхних мест:</strong>
  <%= @wagon.top_seats %>
</p>

<p>
  <strong>Кол-во нижних мест:</strong>
  <%= @wagon.bottom_seats %>
</p>

<p>
  <strong>Кол-во боковых верхних мест:</strong>
  <%= @wagon.side_top_seats %>
</p>

<p>
  <strong>Кол-во нижних боковых мест:</strong>
  <%= @wagon.side_bottom_seats %>
</p>

<p>
  <strong>Кол-во сидячих мест:</strong>
  <%= @wagon.sitting_seats %>
</p>

<p>
  <strong>Поезд:</strong>
  <% if @wagon.train.present? %>
    <%= @wagon.train.number %>
  <% else %>
    Поезд не назначен
  <% end %>
</p>

<%= link_to 'Назад', trains_path %>
