<p id="notice"><%= notice %></p>

<p>
  <strong>Имя:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Станции в маршруте</strong>
</p>

<p>
  <% if @route.railway_stations.empty? %>
    Список пуст
  <% else %>
    <% @route.railway_stations.each do |station| %>
      <li><%= station.title %></li>
    <% end %>
  <% end %>
</p>


<%= link_to 'Изменить', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
